@model IEnumerable<WuyiDAL.Models.PlaylistSong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
    var songtList = ViewData["SongId"] as SelectList;
    var playlitList = ViewData["PlaylistId"] as SelectList;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddedAt)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Playlist) *@
                Title
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Song) *@
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddedAt)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Playlist.Title) *@
                    @foreach (var playlist in playlitList)
                    {
                        <div>@playlist.Text</div>
                    }
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Song.Title) *@
                    @foreach (var song in songtList)
                    {
                        <div>@song.Text</div>
                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaylistSongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaylistSongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaylistSongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
