@model WuyiDAL.Models.Song

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
    List<string> extensions = new List<string>() { ".mp3", ".wav", ".flac", ".aac", ".m4a" };
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dd>
            
                @{
                    var extension = System.IO.Path.GetExtension(Model.FilePath);
                }
                @if (extensions.Contains(extension))
                {
                    <audio style="width: 200px; height: 20px;" controls>
                        <source src="~/songPath/@Model.FilePath" type="audio/mpeg" />
                    </audio>

                }
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SongId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
