@model IEnumerable<WuyiDAL.Models.Song>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";
    List<string> extensions = new List<string>() { ".mp3", ".wav", ".flac", ".aac", ".m4a" };
    var artistList = ViewData["ArtistId"] as SelectList;
    var alblumList = ViewData["AlbumId"] as SelectList;
    var genreList = ViewData["GenreId"] as SelectList;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                nhạc
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
               <td>
                    @{
                        var extension = System.IO.Path.GetExtension(item.FilePath);
                    }
                    @if (extensions.Contains(extension))
                    {
                        <audio style="width: 200px; height: 20px;" controls>
                            <source src="~/songPath/@item.FilePath" type="audio/mpeg" />
                        </audio>

                    }
               </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
